<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BluwolfIcons" version="1.0.1" targetFramework="net471" />
  <package id="ImageProcessor" version="2.7.0.100" targetFramework="net471" />
  <package id="SharpShell" version="2.7.1" targetFramework="net471" />
  <package id="SharpShellTools" version="2.2.1" targetFramework="net471" />
</packages>